body {
    font-family: Arial, sans-serif;
    background-color: #eafaf1;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.logout-button, .add-button, .delete-button, .search-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.password-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.password-table th, .password-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.password-table th {
    background-color: #4caf50;
    color: white;
}