{% extends "skeleton.html" %} {% block title %}Configuración{% endblock %} {%
block content %}
<h1>Configuración</h1>
<button class="logout-button" onclick="window.location.href='/'">
  Log out
</button>
<button class="navigation-button" onclick="window.location.href='/view'">
  Busqueda
</button>

<table class="password-table">
  <thead>
    <tr>
      <th>CUENTA</th>
      <th>CONTRASEÑA</th>
      <th>ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <form action="/add" method="POST" style="display: inline">
        <td>
          <input type="text" name="username" placeholder="Nueva cuenta" required />
        </td>
        <td>
          <input type="password" name="password" placeholder="Nueva contraseña" value="{{ generated_password or '' }}"
            required />
        </td>
        <td>
          <button type="submit" class="config-button">➕</button>
          <button type="button" onclick="window.location.href='/generate'" class="config-button">
            ⚙️
          </button>
        </td>
      </form>
    </tr>
    {% for id, username, password in data %}
    <tr>
      <td>{{ username }}</td>
      <td>{{ password }}</td>
      <td>
        <form action="/delete" method="POST" style="display: inline">
          <input type="hidden" name="user_id" value="{{ id }}">
          <button type="submit" class="config-button">📋</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}