{% extends "base.html" %} 
{% block title %}Búsqueda de Contraseña{% endblock%} 
{% block content %}

<form action="/view" method="GET" class="search-form">
  <input type="text" name="filter" placeholder="Buscar cuenta" class="search-input" />
  <button type="submit" class="search-button">🔍</button>
</form>
<table class="password-table">
  <thead>
    <tr>
      <th>CUENTA</th>
      <th>CONTRASEÑA</th>
      <th>ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    {% for id, account_name, password in data %}
    <tr>
      <td>{{ account_name }}</td>
      <td>{{ password }}</td>
      <td>
          <button type="submit" class="config-button" onclick="copyDecryptedPassword('{{ id }}')">📋</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  async function copyDecryptedPassword(passwordId) {
    try {
      // Llamar a la API para desencriptar la contraseña
      const response = await fetch('/decrypt', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ password_id: passwordId }),
      });

      const data = await response.json();

      if (response.ok) {
        // Copiar la contraseña desencriptada al portapapeles
        await navigator.clipboard.writeText(data.password);
        alert('Contraseña copiada al portapapeles');
      } else {
        alert(data.error || 'Error al copiar la contraseña');
      }
    } catch (error) {
      alert(`Error al comunicarse con el servidor ${error.message}`);
    }
  }
</script>
{% endblock %}